.page {
    background-color: #0D0D0D;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}